body{
    text-transform: capitalize;
}
.inbuts input{
    border-radius: 10px;
}
.price input{
    width: 21%;
}
#total{
    background-color: red;
    padding: 5px 2px;
    border-radius: 4px;
}
.price small::before{
    content: 'total :';
}
.outbuts .btnSearch button{
    width: 45%;
}
button{
    transition: all .5s !important;
    border-radius: 25px !important; 
}
button:hover{
    letter-spacing: 1.5px;
}